.card {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #eee;
    transform: translateZ(10px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
}

#typeSelect{
    margin: 10px;
    width: 56%;
    height: 40px;
}
.addNode-button{
    margin: 8px;
    background-color: #14a37f;
    border: 1px solid white;
    width: 100px;
    height: 42px;
    border-radius: 5px;
}

#nodeNameSelect{
    margin-top: 15px;
}