<div class="container search">
    <div class="row">
        <div class="col-8 form-group">
                <form #searchForm = "ngForm">
                        <input class = "form-control" type = "text" name="search" placeholder="Search..." ngModel >   
                </form>
        </div>
        <div class="col-2" [appDropdown]="option">
            <div class="dropdown" >
                <button class = "btn btn-primary dropdown-toggle filter-button" style="background-color:#14a37f"> {{ this.searchBy }}  </button>
            </div>
            <div class="dropdown-menu" #option>
                <div class="dropdown-item" (click) = "onSearchBy($event)" id="General"> General </div>
                <div class="dropdown-item" (click) = "onSearchBy($event)" id="Personnel"> Personnel </div>
                <div class="dropdown-item" (click) = "onSearchBy($event)" id="Program"> Program </div>
                <div class="dropdown-item" (click) = "onSearchBy($event)" id="Organization"> Organization </div>
            </div>
        </div>
        <div class="col-1 form-group">
            <button class= "form-control btn-primary" (click)="onSearch(searchForm)" style="background-color: #14a37f;">GO</button>
        </div>
    </div>
</div>
<div class="container" *ngIf="!this.empty">
    <div class="row" *ngFor ="let org of this.searchResult">
        <div class="col-12">
            <app-display-card [org]="org"></app-display-card>
        </div>
        
    </div>
</div>
<div class="container" *ngIf = "this.isFetching">
    <div class="row justify-content-center">
        <div class="col-1">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf = "this.error">
    <div class="row justify-content-center">
        <div class="col-3 error">
            <p class="error-text" style="margin-bottom:0;"> {{ this.errorMessage  }} </p>
        </div>
    </div>
</div>


