/* auth-form.component.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

/* Adjusted width for input fields */
input.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  /* Increase the width to make the input fields longer */
  width: 100%;
  max-width: 350px; /* You can adjust this value as needed */
}

/* Style for login and signup buttons */
.login-btn,
.signup-btn,
.create-account-btn,
.login-to-account-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn {
  background-color: #007bff;
  color: #fff;
}

.signup-btn {
  background-color: #28a745;
  color: #fff;
}

.create-account-btn,
.login-to-account-btn {
  background-color: #14a37f;
  color: #fff;
}

/* Style for horizontal rule */
hr {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Style for error text */
.error-text {
  color: red;
}
