/* .body,.container,.row,.justify-content-center,.col{
    all: unset;
} */
::ng-deep .container {
    all:unset;
}

.homePage-image {
    background: url(https://cdn.gurubaa.com/wp-content/uploads/2022/06/26160022/Tribhuvan-University-2-2.jpg) 
    center center/cover no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    padding: 0 auto;
}
.homePage-image .background-info{
    color: white;
}
.home-title{
    font-size: 3rem;
}
.background-button{
    display: flex;
    justify-content: center;
}

.home-Search, .home-SignIn{
    background: transparent;
    height: 50px;
    width: 200px;
    color: white;
    border:2px solid white;
    font-size: 1.5rem;
    margin: 0px 10px;
}

.home-Search:hover, .home-SignIn:hover{
    /* background: transparent; */
    height: 50px;
    width: 200px;
    color: white;
    background-color:rgb(67, 219, 80);
    border:2px solid rgb(67, 219, 80);
    font-size: 1.5rem;
    margin: 0px 10px;
    cursor: pointer;

}

.university-info{
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    margin-top: 50px;
    border: 1px solid black;
    padding: 20px;
    width: 90vw;
    align-self: center;
    margin-left: 30px;

    box-shadow: 13px 19px 31px -10px rgba(0,0,0,0.63);
    -webkit-box-shadow: 13px 19px 31px -10px rgba(0,0,0,0.63);
    -moz-box-shadow: 13px 19px 31px -10px rgba(0,0,0,0.63);

    border-radius: 10px;
}

.university-info-image{
    object-fit: contain;
    height: auto;
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.uni-info-img{
    width:250px;
}

.university-members{
    text-align: center;
    margin-top: 75px;
}

.person-grid {
    /* margin-top: 100px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
    padding: 20px;
}

.person-container {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.person-info {
    text-align: center;
    padding: 20px;
}
.person-info-image{
    height: 200px;
}

.person-info img {
    max-width: 200px;
    max-height: 150px;
    border-radius: 20%;
    margin-bottom: 10px;
}

.person-info h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.person-info p {
    margin: 5px 0;
    color: #555;
}

.home-footer {
    background-color: #14a37f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.footer-basic-info {
    display: flex;
    justify-content: space-between;
    width: 800px; 
    margin: 15px auto;
}

.footer-contact,
.footer-faculties {
    margin: 0;
}
.footer-contact h3,
.footer-faculties h3{
    text-align: center;
}