<app-language-switcher></app-language-switcher>
<div class="component">
  <div class="homePage-image">
    <div class="background-info">
      <h1 class="home-title">{{ "title" | translate }}</h1>
      <div class="background-button">
        <a
          class="nav-link option"
          [routerLink]="['/search']"
          routerLinkActive="active"
          ><button class="home-Search">
            {{ "searchButton" | translate }}
          </button></a
        >
        <a
          class="nav-link option"
          [routerLink]="['/auth']"
          routerLinkActive="active"
          ><button class="home-SignIn">
            {{ "signInButton" | translate }}
          </button></a
        >
      </div>
    </div>
  </div>

  <div class="university-info">
    <div class="university-info-image">
      <img
        class="uni-info-img"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Tribhuvan_University_of_Nepal-IMG_9530.JPG/2560px-Tribhuvan_University_of_Nepal-IMG_9530.JPG"
        alt="Tribhuvan University Campus"
      />
    </div>
    <div class="university-info-summary">
      <h3>{{ "aboutTitle" | translate }}</h3>
      <p>
        {{ "aboutText" | translate }}
      </p>
    </div>
  </div>

  <div class="university-members">
    <h1>{{ "leadershipTitle" | translate }}</h1>
    <div class="person-grid">
      
      <div class="person-container">
        <div class="person-info">
          <div class="person-info-image">
            <img
            class="person-image"
            src="https://giwmscdnone.gov.np/media/minister_photo/bidhyaBhattarai.jpeg"
            alt="Pro-Chancellor"
            />
          </div>
          <h2>{{ "positions.proChancellor.title" | translate }}</h2>
          <p>
            <span class="honorific">{{
              "positions.proChancellor.honorific" | translate
            }}</span>
            {{ "positions.proChancellor.name" | translate }}
          </p>
          <p class="designation">
            {{ "positions.proChancellor.position" | translate }}
          </p>
        </div>
      </div>
      
      <div class="person-container">
        <div class="person-info">
          <div class="person-info-image">
            <img
              class="person-image"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/KP_Sharma_Oli_in_New_York_%2828_September_2024%29_crop.png/330px-KP_Sharma_Oli_in_New_York_%2828_September_2024%29_crop.png"
              alt="'positions.chancellor.name' | translate"
            />
          </div>
          <h2>{{ "positions.chancellor.title" | translate }}</h2>
          <p>
            <span class="honorific">{{
              "positions.chancellor.honorific" | translate
            }}</span>
            {{ "positions.chancellor.name" | translate }}
          </p>
          <p class="designation">
            {{ "positions.chancellor.position" | translate }}
          </p>
        </div>
      </div>

      <div class="person-container">
        <div class="person-info">
          <div class="person-info-image">
            <img
              class="person-image"
              src="https://portal.tu.edu.np/medias/Authorities_2024_08_05_20_51_35.jpg"
              alt="Vice Chancellor"
            />
          </div>
          <h2>{{ "positions.viceChancellor.title" | translate }}</h2>
          <p>
            <span class="honorific">{{
              "positions.viceChancellor.honorific" | translate
            }}</span>
            {{ "positions.viceChancellor.name" | translate }}
          </p>
          <p class="designation">
            {{ "positions.viceChancellor.position" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="home-footer">
    <div class="footer-basic-info">
      <div class="footer-faculties">
        <h3>{{ "institutesTitle" | translate }}</h3>
        <ul>
          <li>Institute of Engineering (IOE)</li>
          <li>Institute of Medicine (IOM)</li>
          <li>Institute of Agriculture and Animal Science</li>
          <li>Institute of Forestry</li>
          <li>Institute of Science and Technology</li>
          <li>Faculty of Humanities and Social Sciences</li>
          <li>Faculty of Management</li>
          <li>Faculty of Education</li>
          <li>Faculty of Law</li>
        </ul>
      </div>

      <div class="footer-contact">
        <h3>{{ "contactTitle" | translate }}</h3>
        <ul class="footer-contact-list">
          <li>Tribhuvan University</li>
          <li>{{ "address" | translate }}</li>
          <li>{{ "phone" | translate }}</li>
          <li>{{ "email" | translate }}</li>
          <li>
            <a href="https://tu.edu.np" target="_blank">www.tu.edu.np</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">{{ "copyright" | translate }}</div>
  </div>
</div>
<!-- </div> -->
