.card {
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #eee;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.picture {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 5px;
}
    
.editNode-button{
    margin: 8px;
    background-color: #14a37f;
    border: 1px solid white;
    width: 100px;
    height: 42px;
    border-radius: 5px;
}

.addPersonnel-name{
    width: 50vw;
    height: 43px;
    margin: 5px;
}

.addPersonnel-button{
    margin: 8px;
    background-color: #14a37f;
    border: 1px solid white;
    width: 100px;
    height: 42px;
    border-radius: 5px;
}
    
.delete-button{
    margin: 8px;
    background-color: #e85d3e;
    border: 1px solid white;
    width: 100px;
    height: 42px;
    border-radius: 5px;
}

.addPersonnel-section,.addProgram-section{
    margin-top: 10px;
}

#titleSelect{
    margin: 10px;
    width: 56%;
    height: 40px;
}

.addNode-section{
    display: flex;
    justify-content: center;
    width: 85%;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.addNode-name{
    width: 50vw;
    height: 43px;
    margin: 5px;
}

.addNode-button{
    margin: 8px;
    background-color: #14a37f;
    border: 1px solid white;
    width: 100px;
    height: 42px;
    border-radius: 5px;
}
    